In [51]:
import pandas as pd
import numpy as np
from math import sqrt
from math import pow

In [39]:
critics={
  'BTS':{'암수살인':5, '바울':4, '할로윈':1.5},
  '손흥민':{'바울':5, '할로윈':2},
  '레드벨벳':{'암수살인':2.5, '바울':2, '할로윈':1},
  '트와이스':{'암수살인':3.5, '바울':4, '할로윈':5}
}
df = pd.DataFrame(critics)

In [40]:
df

      BTS  손흥민  레드벨벳  트와이스
암수살인  5.0  NaN   2.5   3.5
바울    4.0  5.0   2.0   4.0
할로윈   1.5  2.0   1.0   5.0

In [46]:
df.corr(method="pearson")

           BTS  손흥민      레드벨벳      트와이스
BTS   1.000000  1.0  0.998625 -0.998625
손흥민   1.000000  1.0  1.000000 -1.000000
레드벨벳  0.998625  1.0  1.000000 -1.000000
트와이스 -0.998625 -1.0 -1.000000  1.000000

In [43]:
print(df["손흥민"][0] == none)

NameError: name 'none' is not defined

In [64]:
df['손흥민'].isnull()

암수살인     True
바울      False
할로윈     False
Name: 손흥민, dtype: bool

In [63]:
for i in df.index:
    print(df['손흥민'].isnull()[i])

True
False
False

In [73]:
df.corr(method="pearson")

           BTS  손흥민      레드벨벳      트와이스
BTS   1.000000  1.0  0.998625 -0.998625
손흥민   1.000000  1.0  1.000000 -1.000000
레드벨벳  0.998625  1.0  1.000000 -1.000000
트와이스 -0.998625 -1.0 -1.000000  1.000000

In [96]:
df2

     BTS  손흥민  레드벨벳  트와이스
바울   4.0  5.0   2.0   4.0
할로윈  1.5  2.0   1.0   5.0

In [95]:
df2 = df[1:]
df2.corr(method = 'pearson')

      BTS  손흥민  레드벨벳  트와이스
BTS   1.0  1.0   1.0  -1.0
손흥민   1.0  1.0   1.0  -1.0
레드벨벳  1.0  1.0   1.0  -1.0
트와이스 -1.0 -1.0  -1.0   1.0

In [121]:
df['손흥민'].mean()

3.5

In [123]:
df1 = df.copy()
df1.dropna()

     BTS  손흥민  레드벨벳  트와이스
바울   4.0  5.0   2.0   4.0
할로윈  1.5  2.0   1.0   5.0

In [126]:
for i in range(len(df)):
    df['손흥민'].isnull()[i] or df["레드벨벳"].isnull()[i]

In [149]:
df["손흥민"].isnull().sum()

1

In [154]:
df1

      BTS  손흥민  레드벨벳  트와이스
암수살인  5.0  NaN   2.5   3.5
바울    4.0  5.0   2.0   4.0
할로윈   1.5  2.0   1.0   5.0

In [153]:
for i in df1.index:
    print(i)

암수살인
바울
할로윈

In [182]:
a

AttributeError: module 'pandas' has no attribute 'list'

In [184]:
df.columns[1]

'손흥민'

In [193]:
def simPearson(df, name1, name2):
    df1 = df.copy()
    sum = pyo1 = pyo2=0
    if df[name1].isnull().sum()>0 or df[name2].isnull().sum()>0:
        df1 = df1.dropna()
        for i in df1.index:
            sum += (df1[name1][i]-df1[name1].mean())*(df1[name2][i]-df1[name2].mean())
            pyo1+= pow((df1[name1][i]-df1[name1].mean()),2)
            pyo2+= pow((df1[name2][i]-df1[name2].mean()),2)
    else:
        for i in df.index:
            sum += (df[name1][i]-df[name1].mean())*(df[name2][i]-df[name2].mean())
            pyo1+= pow((df[name1][i]-df[name1].mean()),2)
            pyo2+= pow((df[name2][i]-df[name2].mean()),2)
    return sum/(sqrt(pyo1)*sqrt(pyo2))

for i in range(4):
    for j in range(4):
        if i < j: 
            print(df.columns[i],df.columns[j],simPearson(df, df.columns[i],df.columns[j]))

BTS 손흥민 1.0
BTS 레드벨벳 0.9986254289035241
BTS 트와이스 -0.998625428903524
손흥민 레드벨벳 1.0
손흥민 트와이스 -1.0
레드벨벳 트와이스 -0.9999999999999998

In [142]:
def simPearson(df, name1, name2):
    df1 = df.copy()
    sum = pyo1 = pyo2=0
    for i in df.index:
        if not df[name1].isnull()[i] and not df[name2].isnull()[i]:
            sum += (df[name1][i]-df[name1].mean())*(df[name2][i]-df[name2].mean())
            pyo1+= pow((df[name1][i]-df[name1].mean()),2)
            pyo2+= pow((df[name2][i]-df[name2].mean()),2)
            
        df1.dropna()
        
    return sum/(sqrt(pyo1)*sqrt(pyo2))
simPearson(df, "트와이스","손흥민")

-0.8320502943378439

In [143]:

critics={
    'BTS':{'암수살인':5, '바울':4, '할로윈':1.5},
    '손흥민':{'바울':5, '할로윈':2},
    '레드벨벳':{'암수살인':2.5, '바울':2, '할로윈':1},
    '트와이스':{'암수살인':3.5, '바울':4, '할로윈':5}
}
from math import sqrt
#평균
def avr(data, name1, name2): 
    sum = 0
    count = 0
    for i in data[name1]:
        if i in data[name2]:
            sum += data[name1][i]
            count = count + 1
    return sum/count

#표준편차
def v(data, name1, name2): 
    sum1 =0
    mean=avr(data, name1, name2)
   
    for i in data[name1]:
        if i in data[name2]:
            sum1 += pow(data[name1][i]-mean,2)
    return sqrt(sum1)

#공분산
def cov(data, name1, name2):
    sum = 0
    for i in data[name1]:
        if i in data[name2]:
            sum += (data[name1][i]-avr(data,name1,name2))*(data[name2][i]-avr(data,name2,name1))  
    return sum

#피어슨 상관계수
def simPerarson(data, name1, name2):
    for i in data[name1]:
        if i in data[name2]:
            sp =cov(data, name1, name2)/(v(data, name1, name2)*v(data, name2, name1))
    return sp

print(simPerarson(critics,'BTS','손흥민'))
print(simPerarson(critics,'BTS','레드벨벳'))
print(simPerarson(critics,'BTS','트와이스'))
print(simPerarson(critics,'손흥민','손흥민'))
print(simPerarson(critics,'손흥민','트와이스'))
print(simPerarson(critics,'레드벨벳','트와이스'))

1.0
0.9986254289035241
-0.998625428903524
1.0000000000000002
-1.0
-0.9999999999999998

In [138]:
df

      BTS  손흥민  레드벨벳  트와이스
암수살인  5.0  NaN   2.5   3.5
바울    4.0  5.0   2.0   4.0
할로윈   1.5  2.0   1.0   5.0

In [69]:
df = pd.DataFrame(critics)
df['BTS'][1]-df['BTS'].mean()
for i in df['손흥민']:
    if i in df['BTS']:
        print(i)

In [7]:
def simDistance(df, name1, name2): #simDistance=유사한 정도에 대한 거리
    sum=0
    for i in df[name1]: #i는 BTS가 본 영화 제목(key)
        if i in df[name2]: #
            sum+=pow(df[name1][i]-df[name2][i],2)
    return 1/(1+sqrt(sum))
print(simDistance(critics, 'BTS', '트와이스'))

0.20799159651347807

In [14]:
def simDistance(df, name1, name2): #simDistance=유사한 정도에 대한 거리
    sum=0
    n =1 
    for i in df[name1]: #i는 BTS가 본 영화 제목(key)
        if i in df[name2]: #
            sum+=(df)
    return 0
print(simDistance(critics, '손흥민', '트와이스'))

바울
할로윈
0

In [6]:
def topMatch(data, name, index =2 , simFunction = simDistance):
    res = []
    for i in data :
        if name != i:
            res.append((simFunction(data, name, i),i))
    res.sort()
    res.reverse()
    return res