In [1]:
critics={
  'BTS':{'암수살인':5, '바울':4, '할로윈':1.5},
  '손흥민':{'바울':5, '할로윈':2},
  '레드벨벳':{'암수살인':2.5, '바울':2, '할로윈':1},
  '트와이스':{'암수살인':3.5, '바울':4, '할로윈':5}
}

In [3]:
df = pd.DataFrame(critics)

In [4]:
df

      BTS  손흥민  레드벨벳  트와이스
암수살인  5.0  NaN   2.5   3.5
바울    4.0  5.0   2.0   4.0
할로윈   1.5  2.0   1.0   5.0

In [5]:
critics['손흥민']['바울']

5

In [10]:
a = np.array([1,2])
b = np.array([3,2])
c =a-b
c.sqrt

AttributeError: 'numpy.ndarray' object has no attribute 'sqrt'

In [34]:
critics

{'BTS': {'암수살인': 5, '바울': 4, '할로윈': 1.5},
 '손흥민': {'바울': 5, '할로윈': 2},
 '레드벨벳': {'암수살인': 2.5, '바울': 2, '할로윈': 1},
 '트와이스': {'암수살인': 3.5, '바울': 4, '할로윈': 5}}

In [35]:
#다차언 공간에서의 두 사람간 유클리디안 거리 구하기
from math import sqrt
#'BTS':{'암수살인':5, '바울:4, '할로윈':1.5}
def simDistance(data, name1, name2): #simDistance=유사한 정도에 대한 거리
    sum=0
    for i in data[name1]: #i는 BTS가 본 영화 제목(key)
        if i in data[name2]: #
            sum+=pow(data[name1][i]-data[name2][i],2)
    return 1/(1+sqrt(sum))
print(simDistance(critics, 'BTS', '트와이스'))
    
# for i in critics:
#     if i != '손흥민':
#         v1=critics['손흥민']['바울']-critics['BTS']['바울'] #x2-x1
#         v2=critics['손흥민']['할로윈']-critics['BTS']['할로윈'] #y2-y1
#         a

0.20799159651347807

In [40]:
def topMatch(data, name, index =2 , simFunction = simDistance):
    res = []
    for i in data :
        if name != i:
            res.append((simFunction(data, name, i),i))
    res.sort()
    res.reverse()
    return res

In [41]:
topMatch(critics, 'BTS')

[(0.4721359549995794, '손흥민'),
 (0.23582845781094, '레드벨벳'),
 (0.20799159651347807, '트와이스')]

In [42]:
import re

In [50]:
re.match('a*b','b')

In [52]:
re.match('abc?b','abb')

In [54]:
re.match('h{3}','hhhehhhllo')

In [57]:
re.match('[0-9]{3}-[0-9]{4}-[0-9]{4}','0102-1234-56078')